doctype html
html
	head
		meta(charset='utf-8')
		title RG-Canaima V1.0
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
		script(src='Animaciones/slider.js')
		link(rel='stylesheet', href='CSS/contenedores.css')
		link(rel='stylesheet', href='CSS/slider.css')
		link(rel='stylesheet', href='CSS/Navegacion.css')
		link(rel='stylesheet', href='CSS/social.css')
		link(rel='stylesheet', href='CSS/Formas.css')
		link(rel='stylesheet', href='CSS/Productos.css')
		link(rel='stylesheet', href='CSS/botonesociales.css')
		link(rel='stylesheet', href='CSS/Btnsociales.css')
		link(rel='stylesheet', href='CSS/VentanaModal.css')
		// Boostrap
		// CSS
		link(href='CSS/boostrap/bootstrap-theme.min.css', rel='stylesheet')
		link(href='CSS/boostrap/bootstrap.min.css', rel='stylesheet')
		// Javascript
		script(src='CSS/bootstrap4.0/js/bootstrap.min.js')
		script(src='Animaciones/slider.js')
		script(src='Animaciones/animacion.js')
		script(src='Animaciones/vue.min.js')
		// Flat-UI
		link(rel='stylesheet', href='CSS/Flat-UI/dist/css/flat-ui.min.css')
		// hover para las Imagenes
		link(rel='stylesheet', href='CSS/imagenHover/imagehover.css')
		// Owl-carrucel
		link(rel='stylesheet', href='CSS/OwlCarousel/dist/assets/owl.carousel.css')
		link(rel='stylesheet', href='CSS/OwlCarousel/dist/assets/owl.theme.default.min.css')
		script(src='jquery-3.2.0.min.js')
		script(src='CSS/OwlCarousel/dist/owl.carousel.min.js')
		// Font Awesome
		link(rel='stylesheet', href='CSS/font-awesome/css/font-awesome.min.css')
	body(style='width: 100%; heigth:100%;')
		// Barra de navegacion
		nav.navbar.navbar-default.navbar-fixed-top(role='navigation' style='background: white;')
			.navbar-header
				button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapse-01' action='/')
					span.sr-only canaima
				a.navbar-brand(style='font-family: Arial; font-size: 20px; color: #008022;', href='/') RG-CanaimaV1.0
			
			#navbar-collapse-01.collapse.navbar-collapse
				a(href='/Registrar').navbar-text 
							| Registrar
				a.navbar-text( href='/Salir')
							| Salir

				form.navbar-form.navbar-right(action='/Buscar?', metod='get' role='search')
					.form-group
						.input-group
							input#navbarInput-01.form-control(name="serial", style='border-radius: 20px; margin-left: -10px;', type='text', placeholder='Serial de la Canaima')
							span.input-group-btn
								button.btn(type='submit')
									span.fui-search
			// /.navbar-collapse
		// /navbar

	block barraFlat