<!DOCTYPE html>
<html>

	<head>

			<title>Inveniet v2.0</title>

				<meta charset="UTF-8">
				<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

				<script src="Animaciones/slider.js"></script>

				<link rel="stylesheet" href="CSS/contenedores.css">
				<link rel="stylesheet" href="CSS/slider.css">
				<link rel="stylesheet" href="CSS/Navegacion.css">
				<link rel="stylesheet" href="CSS/social.css">
				<link rel="stylesheet" href="CSS/Formas.css">
				<link rel="stylesheet" href="CSS/Productos.css">
				<link rel="stylesheet" href="CSS/botonesociales.css">
				<link rel="stylesheet" href="CSS/Btnsociales.css">
				<link rel="stylesheet" href="CSS/VentanaModal.css">


				<!-- Boostrap -->

					<!-- CSS -->
						<link href="CSS/boostrap/bootstrap-theme.min.css" rel="stylesheet">
						<link href="CSS/boostrap/bootstrap.min.css" rel="stylesheet">



					<!-- Javascript-->
								<script src="CSS/bootstrap4.0/js/bootstrap.min.js"></script>
								<script src="Animaciones/slider.js"></script>
								<script src="Animaciones/animacion.js"></script>
								<script src="Animaciones/vue.min.js"></script>
				
				<!--Flat-UI-->
				<link rel="stylesheet" href="CSS/Flat-UI/dist/css/flat-ui.min.css">


			<!-- hover para las Imagenes -->
			 <link rel="stylesheet" href="CSS/imagenHover/imagehover.css">

			<!-- Owl-carrucel -->
			<link rel="stylesheet" href="CSS/OwlCarousel/dist/assets/owl.carousel.css">
			<link rel="stylesheet" href="CSS/OwlCarousel/dist/assets/owl.theme.default.min.css">

			<script src="jquery-3.2.0.min.js"></script>
			<script src="CSS/OwlCarousel/dist/owl.carousel.min.js"></script>


			<!-- Font Awesome -->
			<link rel="stylesheet" href="CSS/font-awesome/css/font-awesome.min.css" >	
	</head>

<body>

	<div  class="container" style="background: white; border: solid 1px #E9E9E9;">

	<form action="/fstec" method="post" autocomplete='off'>

		<!-- Barra de navegación -->
				<nav class="row" align="left" style="background: white; ">
					
					<!-- Logo -->
				
						<div class="col-md-1" style="margin-left: -20px;"> </div>

						<div class="col-md-3" align="center">
							<img src="img/unefa.jpg" class="img-responsive" style="width: 50px; height: 70px;" >	
						</div>

						<div class="col-md-5" align="center" style="text-align: right; ">
							<h5 style="text-align: center;" >Ficha de Soporte tecnico</h5>
						</div>


					<!-- Botones de Logeo -->
						<div class="col-lg-3" align="center">
							<p> </p>

							<img src="img/canaima.png" class="img-responsive" style="width: 150px; height: 60px;" >	
							
						</div>

				<p>  </p>

				</nav>

		<!-- Datos del aula -->
			<div class="row" align="center">
				
				<div class="col-md-1"></div>
				<p> </p>
				<span>Datos del Aula</span>
				<p> </p>
				<div class="col-md-1"></div>
				<div class="col-md-5">
					
					<div class="row">
						<input type="text" placeholder="Nombre del Docente" class="input-lg form-control" />
					</div>
					<p> </p>
					<div class="row">
						<input type="text" placeholder="Nombre del Alumno" class="input-lg form-control" />
					</div>
					<p> </p>
					<div class="row">
						<input type="text" placeholder="Institucion de procedencia" class="input-lg form-control" />
					</div>

					</div>

				<div class="col-md-1"></div>

				<div class="col-md-4">
					<div class="row">
						<input type="text" placeholder="Grado" class="input-lg form-control" />
					</div>
					<p> </p>
					<div class="row">
						<input type="text" placeholder="Seccion" class="input-lg form-control" />
					</div>
					<p> </p>
					<div class="row">
						<input type="text" placeholder="Tipo de institucion" class="input-lg form-control" />
					</div>

					</div>

				<div class="col-md-1"></div>

				</div>

		<p> </p>

		<!-- Datos del computador -->
			<div class="row" align="center">
				
				<div class="col-md-1"></div>
				<p> </p>
				<span>Datos del Computador</span>
				<p> </p>
				<div class="col-md-1"></div>
				<div class="col-md-5">
					
					<div class="row">
						<input type="text" placeholder="Posee Canaima (SI / NO)" class="input-lg form-control" />
					</div>
					<p> </p>
					<div class="row">
						<input type="text" placeholder="Modelo del Computador" class="input-lg form-control" />
					</div>
					<p> </p>
					<div class="row">
						<input type="text" placeholder="Serial del computador" class="input-lg form-control" />
					</div>
					<p> </p>
					<div class="row">
						<input type="text" placeholder="Sistema Operativo" class="input-lg form-control" />
					</div>
					<p> </p>
					<div class="row">
						<input type="text" placeholder="Version del S.O." class="input-lg form-control" />
					</div>
					</div>

				<div class="col-md-1"></div>

				<div class="col-md-4">
					<div class="row">
						<input type="text" placeholder="Numero de puertos USB" class="input-lg form-control" />
					</div>
					<p> </p>
					<div class="row">
						<input type="text" placeholder="Numero de puertos de Red" class="input-lg form-control" />
					</div>
					<p> </p>
					<div class="row">
						<input type="text" placeholder="Numero de puertos de audios" class="input-lg form-control" />
					</div>
					<p> </p>
					<div class="row">
						<input type="text" placeholder="Tipo de puerto de video (VGA/HDMI)" class="input-lg form-control" />
					</div>

					</div>

				<div class="col-md-1"></div>

				</div>
		<p> </p>

		<!-- Condicion general del equipo -->
			<div class="row" align="center">
				
				<div class="col-md-1"></div>
				<p> </p>
				<span>Condiciones del equipo</span>
				<p> </p>
				<div class="col-md-1"></div>
				<div class="col-md-5">
					
					<div class="row">
						<input type="text" placeholder="Condicion general (Excelente, Buena, Regular, Mala y Otros)" class="input-lg form-control" />
					</div>
					<p> </p>
					<div class="row">
						<input type="text" placeholder="Nivel de aseo (Excelente, Bueno, Regular, Malo)" class="input-lg form-control" />
					</div>
					<p> </p>
					<div class="row">
						<input type="text" placeholder="El computador posee Todas las teclas (SI/NO)" class="input-lg form-control" />
					</div>
					<p> </p>
					<div class="row">
						<input type="text" placeholder="El trackpack integrado funciona (SI/NO/PARCIALMENTE)" class="input-lg form-control" />
					</div>
					<p> </p>
					<div class="row">
						<input type="text" placeholder="Estado de la pantalla (Bueno, Malo, con fallas)" class="input-lg form-control" />
					</div>
					<p> </p>
					<div class="row">
						<input type="text" placeholder="Estado de la bateria (Bueno, Malo, con fallas)" class="input-lg form-control" />
					</div>
					<p> </p>
					<div class="row">
						<input type="text" placeholder="Estado de la camara (Bueno, Malo, con fallas)" class="input-lg form-control" />
					</div>
					<p> </p>
					<div class="row">
						<input type="text" placeholder="Estado de las cornetas (Bueno, Malo, con fallas)" class="input-lg form-control" />
					</div>
					<p> </p>
					<div class="row">
						<input type="text" placeholder="Estado de los puertos USB (Bueno, Malo, Sucio)" class="input-lg form-control" />
					</div>
					<p> </p>
					<div class="row">
						<input type="text" placeholder="Cantidad de puerto USB operativos" class="input-lg form-control" />
					</div>
					<p> </p>
					<div class="row">
						<input type="text" placeholder="Estado del puerto VGA/HDMI (Bueno, Malo, Sucio)" class="input-lg form-control" />
					</div>

					</div>

				<div class="col-md-1"></div>

				<div class="col-md-4">
					<div class="row">
						<input type="text" placeholder="Estado del puerto de red (Bueno, Malo, Sucio)" class="input-lg form-control" />
					</div>
					<p> </p>
					<div class="row">
						<input type="text" placeholder="El WIFI esta operativo (SI/NO)" class="input-lg form-control" />
					</div>
					<p> </p>
					<div class="row">
						<input type="text" placeholder="El Computador realiza un ruido al encender (SI/NO)" class="input-lg form-control" />
					</div>
					<p> </p>
					<div class="row">
						<input type="text" placeholder="Al tocar el respirador sientes que exhala aire caliente (SI/NO)" class="input-lg form-control" />
					</div>
					<p> </p>
					<div class="row">
						<input type="text" placeholder="El Culer logra escucharse o emite ruido (SI/NO)" class="input-lg form-control" />
					</div>
					<p> </p>
					<div class="row">
						<input type="text" placeholder="Al copiar archivos el disco hace ruidos (SI/NO)" class="input-lg form-control" />
					</div>
					<p> </p>
					<div class="row">
						<div class="col-md-9">
							<input type="text" placeholder="Memoria disponible (Numero)" class="input-lg form-control" />
						</div>

						<div class="col-md-3">
							<input type="text" placeholder="Unid" class="input-lg form-control" />
						</div>
					</div>
					<p> </p>
					<div class="row">
						<div class="col-md-9">
							<input type="text" placeholder="Tamano del Disco (Numero)" class="input-lg form-control" />
						</div>

						<div class="col-md-3">
							<input type="text" placeholder="Unid" class="input-lg form-control" />
						</div>
					</div>
					<p> </p>
					<div class="row">
						<input type="text" placeholder="Posee los contenidos Canaima (SI/NO/Algunos)" class="input-lg form-control" />
					</div>
					<p> </p>
					<div class="row">
						<input type="text" placeholder="Posee la suite libre office (SI/NO)" class="input-lg form-control" />
					</div>
					<p> </p>
					<div class="row">
						<input type="text" placeholder="Posee juegos o Soft. de terceros (SI/NO)" class="input-lg form-control" />
					</div>

					</div>

				<div class="col-md-1"></div>

				</div>

		<p> </p>
		<div class="row" align="center">
			<button type="button" class="btn btn-primary" style="width: 30%;"> Guardar </button>
			<div class="separador-top-sm"></div>
		</div>

	</form>

	</div>

</body>


</html>