<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<title>::Bienvenidos::</title>


					<center><img src="img/banner.png" ></center>
	
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900'>
<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Montserrat:400,700'>
<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
</head>
<body>

  <div class="container">
  <div class="info">
    <h1>Registro Canaima U.E.</h1>
</div>
<div class="form" >
  <div class="thumbnail"><img src="img/logo.png"/></div>
   <form class="login-form" method ="post" action ="">
    <input type="text" placeholder="Usuario" required=" " />
    <input type="password" placeholder="Contraseña" required=" " />
    <button>Entrar</button>
 
  </form>
</div>
 
</body>

<footer>
     <div class="container">

     </div>
</footer>



</html>